body{
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
  display: grid;
  grid-template-columns: 80fr 20fr;
  grid-template-rows: 20fr 30fr 5fr;
  grid-template-areas: "header header"
                      "section section"
                      "footer footer";
  grid-gap:0.001rem;
}

header,
aside,
main,
footer{
  padding: 16px;
}

header{
  grid-area: header;
  min-height: 400px;
  background-image: url("bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

aside h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: cursive;
  border: solid black;
  position: relative;
  margin-top: 4rem;
}

aside ul {
  list-style:none;
}

section {
  grid-area:section;
  display:flex;
  flex-direction: row;
  min-height: 500px;
}

aside{
  min-width: 200px;
  white-space: nowrap;
  text-align: center;
  background-color: rgb(237, 227, 188);
}

main{
  max-width: 1600px;
  background-color: rgb(244, 224, 151);
}

main h1{
  margin-top: 4rem;
}

.icon1{
  background: url(icon1.png) no-repeat 0 0;
  padding-left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 35px auto;
  vertical-align: middle;
}

.icon2{
  background: url(icon2.png) no-repeat 0 0;
  padding-left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 35px auto;
  vertical-align: middle;
}

.icon3{
  background: url(icon3.png) no-repeat 0 0;
  padding-left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 35px auto;
  vertical-align: middle;
}

.icon4{
  background: url(icon4.png) no-repeat 0 0;
  padding-left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 35px auto;
  vertical-align: middle;
}

.icon5{
  background: url(icon5.png) no-repeat 0 0;
  padding-left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 35px auto;
  vertical-align: middle;
}

.nav{
  max-width: 25px;
  max-height: 25px;
  list-style: none;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  float: right;
  left: -50%;
  position: relative;
  font-size: larger;
} 

.item{
  margin: 10px 0;
}

footer{
  grid-area: footer;
  background-color: black;
  font-size: large;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item{
  margin: 0 10px;
}

aside ul{
    list-style-type: none;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 8px 16px;
    margin: 1px 0px;
}

aside ul a{
    color: black;
    text-decoration: none;
}
aside ul a:hover{
    background-color:black;
    color: white;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 8px 16px;
    margin: 1px 0px;
}

footer ul a{
    color: rgb(204, 172, 31);
    padding: 8px 16px;
    margin: 1px 0px;
    background-color: black;
    text-decoration: none;
}

footer ul a:hover{
    background-color:rgb(204, 172, 31);
    color: black;
}

video{
  width: 50%;
}